@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #FEF5ED;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__adds {
    background-color: #ADC2A9;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}